html,
body {
    height: 100%;
    background-color: #444;
}


.navbar-brand{
    padding: 2px;
}



.sloganLogo{
    display: inline;
    /*position: relative;*/
    /*bottom:17px;*/
    left: 20px;
    font-style: italic;
    color: #aaa;
}